*{
    //border: 1px black solid;
}

body {
    background-image: url(../img/background2.jpg);
    background-repeat: repeat;
}

.editor-wrap {
    background-color: beige;
    padding: 10px;
}

#Header {
    padding-bottom: 50px;
}

.allNotes li {
    border: 1px black solid; 
    list-style: none;
    padding-left: 100px;
    height: 4%;
}

.createBtn button {
    margin-left: 800px;
    margin-top: 30px;
    width: auto;
}

.allNotes button {
    position: relative; 
    float: right;
    margin-right: 30px;
}

.btn-toolbar button {
    width: 60px;
    height: 40px;
}

.btn-toolbar select {
    width: 130px;
    height: 40px;
}

.btn-toolbar {
    background-color: beige;
    padding: 8px;
}

.title {
    margin: 5px auto;
}

.createBtn button {
    float: right;
    clear: both;
}

.editor-container {
  width: 100%;
  height: 400px;
  background-color: beige;
  padding: 15px;
  box-sizing: border-box;
}

#richTextField {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid; 
  border-color: dimgrey; 
}

