*{
    //border: 1px black solid;
}

body {
    background-image: url(../img/background4.jpg);
    background-color: powderblue;
    background-repeat: no-repeat;
    background-size: cover; 
    margin: 0;
    padding: 0;
}

.head {
    display: block;
    width: 100%;
}

.editor-wrap {
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    width: 100%;
}

.savedNotes {
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    height: 500px;
    width: 100%;
}

.allNotes li {
    list-style: none;
    padding-left: 100px;
    height: 4%;
}

.noteItem {
    border: 1px grey solid; 
    padding: 20px;
    margin: -15px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
}

.noteItem:hover {
    transform: scale(1.05);
}

.allNotes a {
    position: relative; 
    float: right;
    padding-right: 50px;
}

.btn-toolbar button {
    width: 45px;
    height: 25px;
}

.btn-toolbar button:active{
    background-color: dimgrey!important;
}

.btn-toolbar select {
    width: 130px;
    height: 30px;
}

#FontSize {
    float: left;
    clear: both;
}

#FontType {
    float: left;
}

#FontColor {
    width: 50px;
}

.btn-group {
    //border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.bottomRow {
    float: left;
    clear: both;
}

.saveBtn button {
    float: right;
    clear: both;
}

.editor-container {
  width: 100%;
  height: 400px;
  background-color: clear;
  padding: 10px;
  padding-top: 1px;
  box-sizing: border-box;
}

#richTextField {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid; 
  border-color: dimgrey; 
}



