*{
    //border: 1px black solid;
}

body {
    background-image: url(../img/background2.jpg);
    background-repeat: repeat;
}

.jumbotron {
    background-color: rgba(255, 0, 0, 0);; !important;
    border-radius: 50px !important;
}

.editor-wrap {
    margin-top: 30px;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 30px;
}

#Header {
    padding-bottom: 50px;
}

.savedNotes {
    padding: 20px;
    display: inline-block;
    height: 500px;
    width: 100%;
    border-radius: 40px;
}

hr {
    background-color: black !important;
    height: 1px;
}

.allNotes li {
    list-style: none;
    padding-left: 100px;
    height: 4%;
}

.noteItem {
    border: 1px black solid; 
    padding: 20px;
}

.noteItem:hover{
    background-color: lightcyan;
    cursor: pointer;
}
.createBtn button {
    margin-left: 800px;
    margin-top: 30px;
    width: auto;
}

.allNotes a {
    border: 1px solid black;
    position: relative; 
    float: right;
    padding-right: 50px;
}

.btn-toolbar button {
    width: 60px;
    height: 40px;
}

.btn-toolbar select {
    width: 130px;
    height: 40px;
}

#embed {
    margin-top: 5px;
}

#FontSize {
    float: left;
}

#FontType {
    float: left;
}

.btn-toolbar {
    background-color: clear;
    padding: 8px;
}

.title {
    margin: 5px auto;
}

.createBtn button {
    float: right;
    clear: both;
}

.editor-container {
  width: 100%;
  height: 400px;
  background-color: clear;
  padding: 15px;
  box-sizing: border-box;
}

#richTextField {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid; 
  border-color: dimgrey; 
  //border-radius: 40px;
}



